-- Paste this in: C:\inetpub\wwwroot\[SITECORE.DEV]\App_Config\Include\zzz.iO
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- iO Publishing Events - Asset Usage Service Configuration -->
      <setting name="AssetUsageService.Endpoint" value="http://localhost:7183/api/SitecorePublishAPI" />
      <setting name="AssetUsage.AuditLogPath" value="$(dataFolder)/logs/iO-published-items.json" />
    </settings>

    <events>
      <event name="item:processing">
        <handler type="iO.Sitecore.publishing.Events.PublishEventHandler, iO.Sitecore.Publishing" method="OnItemProcessing" />
      </event>
      <event name="item:processed">
        <handler type="iO.Sitecore.publishing.Events.PublishEventHandler, iO.Sitecore.Publishing" method="OnItemProcessed" />
      </event>
      <event name="publish:end">
        <handler type="iO.Sitecore.publishing.Events.PublishEventHandler, iO.Sitecore.Publishing" method="OnPublishEnd" />
      </event>
    </events>
  </sitecore>
</configuration>
